**/.vs/*
**/Debug/*
**/Release/*
**/out/**/*.obj
Debug-windows-x86_64/
imgui.ini
HostApps/OpenGL/bin-int/Debug-x64/*
HostApps/OpenGL/bin/Debug-x64/*
GigiBrowser.exe
GigiBrowser.pdb
GigiEdit.exe
GigiEdit.pdb
GigiCompiler.exe
GigiCompiler.pdb
GigiViewerDX12.exe
GigiViewerDX12.pdb
GigiViewerDX12.exp
GigiViewerDX12.lib
GigiEdit/GigiEdit.aps
./WinPixEventRuntime.dll
**/__pycache__/