*.png filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
gigi.exe filter=lfs diff=lfs merge=lfs -text
gigi.pdb filter=lfs diff=lfs merge=lfs -text
GigiEdit.exe filter=lfs diff=lfs merge=lfs -text
GigiEdit.pdb filter=lfs diff=lfs merge=lfs -text
