variables:
  GIT_DEPTH: 1

stages:
  - build

win64_build_release:
  stage: build
  script:
    - .\\buildscripts\\Build_Release.bat
  artifacts:
    paths:
      - GigiBrowser.exe
      - GigiBrowser.pdb
      - browserservers.txt
      - GigiViewerDX12.exe
      - GigiViewerDX12.pdb
      - GigiViewerDX12.exp
      - GigiViewerDX12.lib
      - GigiViewerDX12.ico
      - GigiEdit.exe
      - GigiEdit.pdb
      - GigiEdit.ico      
      - GigiCompiler.exe
      - GigiCompiler.pdb
      - python310.dll
      - libcurl-x64.dll
      - WinPixEventRuntime.dll
      - dxcompiler.dll
      - dxil.dll
      - slang.dll
      - gigihelp.html
      - gigischema.json
      - LICENSE.txt
      - Install.nsi
      - MakeCode_UnitTests_DX12.bat
      - MakeCode_UnitTests_DX12.py
      - MakeCode_UnitTests_FB.bat
      - MakeCode_UnitTests_FB.py
      - MakeCode_UnitTests_UE_5_3.bat
      - MakeCode_UnitTests_UE_5_3.py
      - GigiViewerDX12/python/*
      - _GeneratedCode/*
      - Techniques/*
      - UserDocumentation/*
      - external/AgilitySDK/bin/*
      - external/fonts/OpenSans-Regular.ttf
      - external/git/*
      - GigiCompilerLib/Backends/DX12/templates/*
      - GigiCompilerLib/Backends/Frostbite/templates/*
      - GigiCompilerLib/Backends/UE_5_3/templates/*
    expire_in: 1 week
  tags:
    - seed
    - halcyon
    - vs2022
    - windows
    - cpu

win64_build_debug:
  stage: build
  script:
    - .\\buildscripts\\Build_Debug.bat
  tags:
    - seed
    - halcyon
    - vs2022
    - windows
    - cpu
