**/.vs/*
**/x64/Debug/*
**/x64/Release/*
**/out/**/*.obj
Debug-windows-x86_64/
imgui.ini
HostApps/OpenGL/bin-int/Debug-x64/*
HostApps/OpenGL/bin/Debug-x64/*
GigiEdit.exe
GigiEdit.pdb
GigiCompiler.exe
GigiCompiler.pdb
GigiViewerDX12.exe
GigiViewerDX12.pdb
GigiViewerDX12.exp
GigiViewerDX12.lib
WinPixEventRuntime.dll
GigiEdit/GigiEdit.aps

**/__pycache__/